<!DOCTYPE html>
{% load static %}
<html lang="en">
{% load templatetags %}
    <head>
        <meta charset="UTF-8">
        <title>2D Maze</title>
        <script>
            var maze_solution_data = {{ maze_solution_data }};
            var maze_rectangles = {{ maze_rectangles }};
            var maze_arrow = {{ maze_arrow }};
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="{% static 'mode3/app.js' %}"> </script>
        <style>
            .wrapper {
                position: relative;
                width: 500px;
                height: 500px;
            }
            .wrapper canvas {
                position: absolute;
                top: 0;
                left: 0;
            }

        </style>
    </head>
    <body>
        <div class="wrapper">
                <canvas id="show_maze" width="500" height="500"></canvas><br>
                <canvas id="solution" width="500" height="500"></canvas><br>
        </div>
        <a href="#" id="showHideSolution">Show solution</a>
    </body>
</html>