<!DOCTYPE html>
<html lang="en">
{% load templatetags %}
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <a href="{{ backurl }}"> <- Back</a><br><br>
        <canvas id="show_board" width="500" height="500"></canvas>
        <script>
            var canvas = document.getElementById("show_board");
            var context = canvas.getContext("2d");

            {% for rectangle in board.rectangles %}

                context.fillStyle = "{{ rectangle|lookup:4 }}";
                context.fillRect({{ rectangle|lookup:0 }}, {{ rectangle|lookup:1 }}, {{ rectangle|lookup:2 }},
                {{ rectangle|lookup:3 }});

            {% endfor %}

            {% for line in board.lines %}
                context.beginPath();
                context.strokeStyle = "{{ line|lookup:4 }}";
                context.moveTo ({{ line|lookup:0 }}, {{ line|lookup:1 }});
                context.lineTo ({{ line|lookup:2 }}, {{ line|lookup:3 }});
                context.stroke();
            {% endfor %}

        </script>
        Transfers: (starting vertices):<br>
        {{ board.transfers }} <br><br>
        Adjacency lists (by vertex): <br>
        {% for key, value in board.graph.items %}
            {{ key }} {{ value }} <br>
        {% endfor %}
        <br> <br>
        <a href="{{ backurl }}"> <- Back</a>
    </body>
</html>